<div class="container">
    <div class="row">
      <div class="col">
        <img
          src="/assets/images/clearPointLogo.png"
          alt="ClearPoint"
          class="img-fluid rounded"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div role="alert" class="fade alert alert-success show">
          <div class="alert-heading h4">Todo List App (Angular)</div>
          Welcome to the ClearPoint frontend technical test. We like to keep
          things simple, yet clean so your task(s) are as follows:<br /><br />
  
          <ol class="list-left text-left">
            <li>
              Add the ability to add (POST) a Todo Item by calling the backend API
            </li>
            <li>
              Display (GET) all the current Todo Items in the below grid and
              display them in any order you wish
            </li>
            <li>
              Bonus points for completing the 'Mark as completed' button code for
              allowing users to update and mark a specific Todo Item as completed
              and for displaying any relevant validation errors/ messages from the
              API in the UI
            </li>
            <li>
              Feel free to add unit tests and refactor the component(s) as best
              you see fit
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-add-todo-item (onAddClick)="handleAdd($event)"></app-add-todo-item>
      </div>
      <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
      <div class="row">
        <div class="col">
          <h1>
            Showing {{ items.length }} Item(s)
            <button
              type="button"
              class="pull-right btn btn-primary"
              (click)="getItems()"
            >
              Refresh
            </button>
          </h1>
           <app-todo-item-list [items]="items"></app-todo-item-list>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        © 2021 Copyright:
        <a href="https://clearpoint.digital" target="_blank" rel="noreferrer">
          clearpoint.digital
        </a>
      </div>
    </div>
  </div>